*   {  
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
nav.navbar{
    padding: 20px;
    background-color: rgb(236, 117, 38);
}
.navbar-brand{ 
    color: black;
    font-size: 32px;
    font-weight: bold;
}
.nav-link{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.nav-link :hover{
    color: blueviolet;
}
.navbar-nav li{
    padding-right: 20px;
}
.carousel {
    width: auto;
    height: auto;
}
.carosuel-inner img{
    width: 100%;
    height: auto;   

}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}
.carousel-caption h1{
    color: black;
    align-items: center;
}
.carousel-caption span{
    color: orangered;
    font-size: 50px;
}
.carousel-caption h3{
    padding-bottom: 100px;
    color:  black;
}
.carousel-caption button{
    color: black;
    font-weight: bolder;
}
.btn-primary{
    background-color: orangered;
    border: 1px solid black;
}
.btn-primary:hover{
    background-color: rgb(235, 175, 154);
    box-shadow: none;
    border: red;
}
.btn-outline-light{
    background-color: white;
    border: 1px solid   orangered;
}
.padding{
    padding-bottom: 20px;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
}
.welcome h2{
    text-align: center;
    font-weight: bold;
}
.welcome p{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa-brain{
    color: orangered;
    font-size: 42px;
}
.fa-bicycle{
    color: orangered;
    font-size: 42px;
}
.fa-bolt{
    color: orangered;
    font-size: 42px;
}
.card-title{
    font: bold;
    font-size: 30px;
    color: orange;
}
.card-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
footer{
    background-color:rgb(236, 117, 38);
    color: black;
}
footer a{
    text-decoration:none ;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
footer h4{
    font-size:25px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
footer p{
    font-weight: bold;
}
.form_contacto{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}
.formulario{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 10px 50px;
}
.contacto__titulos{
    position: relative;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.contacto__titulos h2{
    font-size: 30px;
    margin-bottom: 2px;
}
.contacto__titulos h4{
    font-size: 20px;
}
.form__info{
    width: 80%;
    padding: 15px 20px;
    background-color: rgb(245, 187, 166)  ;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 2px rgb(241, 231, 198);
    box-shadow: 0 0 20px orange;
    color: black;
    cursor: pointer;
    text-align: center;
}
.form__info:hover{
    background-color:rgb(252, 246, 249)  ;
}
@media(max-width:692px){
    .carousel button{
        padding: 2px;
        font-size: 15px;
        bottom: 50px
    }
}


